<div class="update-profile border-style">
  <form [formGroup]="form" (ngSubmit)="update()">
    <div class="p-grid p-fluid">
      <div class="p-col-12">
        <label for="id">ID:</label>
        <input type="text" id="id" formControlName="id" pInputText />
      </div>
      <div class="p-col-12">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" pInputText />
      </div>
      <div class="p-col-12">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          pInputText
        />
      </div>
      <div class="p-col-12">
        <p-button type="submit" label="Submit" severity="warning"></p-button>
      </div>
    </div>
  </form>
</div>

<p-toast></p-toast>
