<ng-container *ngIf="user">
  <div class="card flex">
    <p-card class="w-full">
      <div class="flex align-items-center">
        <ng-container *ngIf="user.profile">
          <p-avatar
            image="http://localhost:3000/api/users/profile-image/{{
              user.profile
            }}"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          ></p-avatar>
        </ng-container>
        <ng-container *ngIf="!user.profile">
          <p-avatar styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        </ng-container>
        <div class="m-1">
          <div class="mb-2 font-bold text-lg">{{ user.name }}</div>
          <div class="font-light">{{ user.username }}</div>
        </div>
      </div>
      <div class="mu-1">
        <p>Email : {{ user.email }}</p>
        <p>Role: {{ user.role }}</p>
      </div>
    </p-card>
  </div>
</ng-container>
