<div class="card mt-5 border-style">
  <div class="text-center">
    <h1>LOGIN</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="p-float-label m-4">
      <input
        pInputText
        id="emailInput"
        formControlName="email"
        class="p-inputtext-lg"
        autofocus
      />
      <label for="emailInput">Email</label>
    </div>
    <div class="p-float-label m-4">
      <input
        pInputText
        type="password"
        id="passwordInput"
        formControlName="password"
        class="p-inputtext-lg"
      />
      <label for="passwordInput">Password</label>
    </div>
    <div class="p-float-label m-4">
      <p-button
        type="submit"
        label="Submit"
        [disabled]="!loginForm.valid"
      ></p-button>
    </div>
  </form>
</div>
