@import "primeng/resources/themes/vela-orange/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";  


*body {
    background-color: rgb(19, 30, 34);
    font-family: var(--font-family);
    margin: 0%;
    padding: 0%;
    color: whitesmoke;
}

.border-style {
    margin: 0 auto;
    border: 1px solid yellow;
    padding: 20px; 
    max-width: 700px; 
    width: 100%;
}

@media (max-width: 768px) {
    .border-style {
        max-width: 90%;
    }
}