<div class="card mt-5 border-style">
  <div class="text-center">
    <h1>Register</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="p-float-label m-4">
      <input
        pInputText
        id="usernameInput"
        formControlName="username"
        class="p-inputtext-lg"
        autofocus
      />
      <label for="usernameInput">User Name</label>
    </div>
    <div class="p-float-label m-4">
      <input
        pInputText
        id="nameInput"
        formControlName="name"
        class="p-inputtext-lg"
      />
      <label for="nameInput">Name</label>
    </div>
    <div class="p-float-label m-4">
      <input
        pInputText
        id="emailInput"
        formControlName="email"
        class="p-inputtext-lg"
      />
      <label for="emailInput">Email</label>
    </div>
    <div class="p-float-label m-4">
      <input
        pInputText
        type="password"
        formControlName="password"
        class="p-inputtext-lg"
      />
      <label for="passwordInput">Password</label>
    </div>
    <div class="p-float-label m-4">
      <input
        pInputText
        type="password"
        formControlName="confirmPassword"
        class="p-inputtext-lg"
      />
      <label for="passwordInput">Confirm Password</label>
    </div>
    <div class="p-float-label m-4">
      <p-button
        type="submit"
        label="Submit"
        [disabled]="!registerForm.valid"
      ></p-button>
    </div>
  </form>
  <div
    *ngIf="registerError && registerError.length > 0"
    class="text-yellow-400"
  >
    <div *ngFor="let error of registerError">
      {{ error }}
    </div>
  </div>
</div>
