<h1 class="text-center">Users</h1>
<div class="flex justify-content-center">
<input pInputText type="text" class="p-inputtext-lg" [(ngModel)]="userInfo" placeholder="Search User" (input)="onUserInfo(userInfo)"/>
</div>
<div style="display: flex; justify-content: center;">
    <p-table [value]="users" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Email</th>
                <th>User Name</th>
                <th>Name</th>
                <th>id</th>
                <th>Role</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr (click)="onUserClick(user.id)" style="cursor: pointer;">
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.role }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
